.customer-comment-list {

  padding: 2rem 0;

  /* Title */
  h1 {
    font-size: clamp(1.8rem, 3vw, 2.4rem);
    color: #111;
    font-weight: 700;
    margin: 0;
  }

  /* Navigation Buttons */
  .nav-btn {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease;

    i {
      font-size: 1.2rem;
      color: #333;
      transition: 0.25s ease;
    }

    &:hover {
      background: #111;
      transform: translateY(-3px);

      i {
        color: #fff;
      }
    }
  }

  /* Cards grid spacing */
  .category-container {
    row-gap: 2rem;
  }

  /* Responsive */
  @media (max-width: 768px) {
    .navigation-btns {
      margin-left: auto;
      right: 5px;
    }

    h1 {
      font-size: 1.5rem;
      margin-inline: 0.5rem;
    }
  }
}
