  .category-card {
    background-color: #f7f7f7;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    /* Overlay */
    &::after {
      position: absolute;
      content: "";
      inset: 0;
      background: rgba(0, 0, 0, 0.25);
      z-index: 1;
    }

    /* Hover Zoom */
    &:hover img {
      transform: scale(1.05);
    }

    .category-title {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.85);
      padding: 5px 20px;
      border-radius: 20px;
      font-size: 1rem;
      color: #333;
    }

    .category-image{
      height: 300px;
      object-fit: contain;
    }

      /* Responsive */
  @media (max-width: 768px) {
    .category-card {
      height: 240px;

      .category-title {
        font-size: 0.9rem;
        bottom: 15px;
      }
    }
  }

  @media (max-width: 576px) {
    .category-card {
      height: 200px;

      .category-title {
        font-size: 0.8rem;
        bottom: 12px;
      }
    }
  }

  }
