.hero-section {
  background-color: #f3f3f3;

  .hero-text {
    .exclusive {
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 2.6rem;
      color: #333;
    }

    .collection {
      font-size: 3.2rem;
      line-height: 1.1;
      color: #111;
    }

    .sale-text {
      font-size: 1.2rem;
      font-weight: 500;
      color: #555;
      letter-spacing: 1px;
    }
  }

  .hero-img {
    max-width: 420px;
  }

  /* ---------- RESPONSIVE ---------- */

  @media (max-width: 992px) {
    .hero-text {
      text-align: center;

      .exclusive {
        font-size: 2rem;
      }

      .collection {
        font-size: 2.6rem;
      }
      button{
        margin: auto;
      }
    }

    .hero-img {
      max-width: 350px;
      margin-inline: auto;
    }
  }

  @media (max-width: 576px) {

    .hero-text {
      .exclusive {
        font-size: 1.6rem;
      }

      .collection {
        font-size: 2rem;
      }

      .sale-text {
        font-size: 1rem;
      }
    }

    .hero-img {
      max-width: 300px;
    }
  }
}
